alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
bleach==3.1.4
bumpversion==0.5.3
certifi==2020.4.5.1
chardet==3.0.4
Click==7.1.2
codecov==2.0.22
coverage==5.1
docutils==0.16
flake8==3.7.9
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==5.0.0; python_version <= '2.7' # pyup: >=5.0.0,<6.0.0
more-itertools==8.2.0; python_version >= '3'
packaging==20.3
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.2.0
Pygments==2.5.2; python_version <= '2.7' # pyup: >=2.5.2,<2.6.0
Pygments==2.6.1; python_version >= '3'
pyparsing==2.4.7
pytest==4.6.9; python_version <= '2.7' # pyup: >=4.6.4,<5.0.0
pytest==5.4.1; python_version >= '3'
pytest-cov==2.8.1
pytest-runner==5.2
pytz==2019.3
pyyaml==5.3.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5; python_version <= '3.4' # pyup: >=1.8.5,<2.0.0
Sphinx==3.0.3; python_version >= '3.5'
sphinxcontrib-websupport==1.1.2; python_version <= '2.7' # pyup: >=1.1.2,<1.2.0
sphinxcontrib-websupport==1.2.2; python_version >= '3'
toml==0.10.0
tox==3.14.6
tqdm==4.46.0
twine<2.0.0; python_version < '3.6' # pyup: <2.0.0
twine==3.1.1; python_version >= '3.6'
urllib3==1.25.9
virtualenv==20.0.18
watchdog==0.10.2
webencodings==0.5.1
xmldiff==2.4
xmltodict==0.12.0
wheel==0.34.2
