alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
black==18.9b0
bleach==3.0.2
bumpversion==0.5.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.1
docutils==0.14
filelock==3.0.9
flake8==3.5.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
-e git+https://github.com/dimitern/json_to_ubl_xml_transformer.git@1859edf4eb46532320a31d953aeb1273a1759c3b#egg=json_to_ubl_xml_transformer
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
mypy==0.641
mypy-extensions==0.4.1
packaging==18.0
pathtools==0.1.2
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.8.2
pytest-runner==4.2
pytz==2018.7
PyYAML==3.13
readme-renderer==24.0
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.5.2
tqdm==4.28.1
twine==1.12.1
typed-ast==1.1.0
urllib3==1.24
virtualenv==16.0.0
watchdog==0.9.0
webencodings==0.5.1
