alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
bleach==3.0.2
bumpversion==0.5.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
docutils==0.14
flake8==3.6.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
packaging==18.0
pkginfo==1.5.0.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.0.2
pytest-cov==2.6.1
pytest-runner==4.2
pytz==2018.9
PyYAML==3.13
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.6.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
virtualenv==16.2.0
watchdog==0.9.0
webencodings==0.5.1
xmldiff==2.2
xmler==0.2.1
